<div class="row" appHighlight="#DEF">
    <!-- <pre>{{product | json}}</pre> -->
    <div class="col-4">
        <img [src]="product.imageUrl" [alt]="product.name" class="img-fluid" />
    </div>
    <div class="col-4">
        <div>{{product.name|uppercase}} &mdash; <small>{{product.makeDate | date:'yyyy'}}</small></div>
        <div>{{product.price | priceDiscount:product.discount | currency:product.currencyType}}</div>
        <button [disabled]="isItemInCart" (click)="addToCart($event, product)" class="btn btn-primary">Buy</button>
        <span *ngIf="isItemInCart" class="text-success ms-2">Already in Cart</span>
        <ul class="nav nav-tabs mt-3">
            <li class="nav-item">
                <a (click)="handleTabChange($event,1)" [ngClass]="{'nav-link': true, 'active': isActiveTab(1)}"
                    href="#">Description</a>
            </li>
            <li class="nav-item">
                <a (click)="handleTabChange($event,2)" [ngClass]="{'nav-link': true, 'active': isActiveTab(2)}"
                    href="#">Specification</a>
            </li>
            <li class="nav-item">
                <a (click)="handleTabChange($event,3)" [ngClass]="{'nav-link': true, 'active': isActiveTab(3)}"
                    href="#">Reviews</a>
            </li>
        </ul>
        @if (isActiveTab(1)) {
        <div>{{product.description}}</div>
        } @else if (isActiveTab(2)) {
        <div>Not Yet</div>
        } @else if (isActiveTab(3)) {
        <div>
            @for(review of reviews; track review.author) {
            <app-review [value]="review"></app-review>
            }
        </div>
        }
    </div>
</div>