<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                Customer Form
            </div>
            <div class="card-body">
                <form #customerFormGroup="ngForm" (submit)="handleSubmit(customerFormGroup)">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" [(ngModel)]="customerModel.firstName" name="firstName"
                            id="firstName" placeholder="Enter First Name" required minlength="3">
                        <div class="text-danger"
                            *ngIf="customerFormGroup.controls['firstName']?.invalid && (customerFormGroup.submitted || customerFormGroup.controls['firstName']?.touched)">
                            <div *ngIf="customerFormGroup.controls['firstName']?.errors?.['required']">
                                First Name is required.
                            </div>
                            <div *ngIf="customerFormGroup.controls['firstName']?.errors?.['minlength']">First Name must
                                be at least 3 characters long.</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" [(ngModel)]="customerModel.lastName" name="lastName"
                            id="lastName" placeholder="Enter Last Name" required minlength="3">
                        <div class="text-danger"
                            *ngIf="customerFormGroup.controls['lastName']?.invalid && (customerFormGroup.submitted || customerFormGroup.controls['lastName']?.touched)">
                            <div *ngIf="customerFormGroup.controls['lastName']?.errors?.['required']">
                                Last Name is required.
                            </div>
                            <div *ngIf="customerFormGroup.controls['lastName']?.errors?.['minlength']">Last Name must
                                be at least 3 characters long.</div>
                        </div>
                    </div>
                    <button type="button" (click)="loadCustomer()" class="btn btn-success">Load Customer</button>
                    |
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-6">
        <hr />
        Customer Model:
        <hr />
        <pre>
            {{ customerModel | json }}
        </pre>
        <hr />
        FormControl State(s) e.g firstName
        <hr />
        <pre>
            is pristine: {{ customerFormGroup.controls['firstName']?.pristine }}
            is dirty: {{ customerFormGroup.controls['firstName']?.dirty }}
            is valid: {{ customerFormGroup.controls['firstName']?.valid }}
            is invalid: {{ customerFormGroup.controls['firstName']?.invalid }}
            is touched: {{ customerFormGroup.controls['firstName']?.touched }}
            is untouched: {{ customerFormGroup.controls['firstName']?.untouched }}
        </pre>
        <hr />
        Form State(s)
        <hr />
        <pre>
            is pristine: {{ customerFormGroup.pristine }}
            is dirty: {{ customerFormGroup.dirty }}
            is valid: {{ customerFormGroup.valid }}
            is invalid: {{ customerFormGroup.invalid }}
            is touched: {{ customerFormGroup.touched }}
            is untouched: {{ customerFormGroup.untouched }}
            is submitted: {{ customerFormGroup.submitted }}
        </pre>
        <hr />
        Form Value:
        <hr />
        <pre>
            {{ customerFormGroup.value | json }}
        </pre>
    </div>
</div>